<h3>Welcome to the <em>Price per Gallon Calculator</em> where we do math that you don't really need - you can just read the price on the sign at the gas station!!</h3>

<a href="/calc">Calculate <strong>Price / Gallon</strong></a>

